* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.surrounding {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  gap: 30px;
  flex-direction: column;
}
.card {
  width: 384px;
  min-width: 327px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 #000;
  gap: 24px;
}
.card-image > img {
  min-width: 288px;
  min-height: 200px;
  border-radius: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button-text {
  color: hsl(0, 0%, 7%);
  font-weight: 900;
  font-size: 14px;
  padding: 4px 12px;
  background-color: hsl(47, 88%, 63%);
  width: max-content;
  font-family: "Figtree", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 800;
  font-family: "Figtree", "Times New Roman", Times, serif;
  color: hsl(0, 0%, 7%);
}

.date {
  font-weight: 500;
  font-family: "Figtree", sans-serif;
  color: hsl(0, 0%, 7%);
  font-size: 14px;
}
p {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 42%);
  line-height: 150%;
  letter-spacing: 0;
  font-size: 16px;
}
.author-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.author-info > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.author-info span {
  font-weight: 800;
  font-size: 14px;
  color: hsl(0, 0%, 7%);
  font-family: "Figtree", sans-serif;
}
